@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap");
@keyframes jump {
  0% {
    bottom: 77px; }
  100% {
    bottom: 50px; } }
.d-flex {
  display: flex; }

.d-wrap {
  flex-wrap: wrap; }

p {
  font: 14px/26px "Open Sans", sans-serif;
  text-align: center;
  color: #81868e; }

h3 {
  color: #333b46;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 12px; }

/*SECTION HEADER*/
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  margin-top: 20px; }
  header .navbar {
    border: none; }
  header .navbar-default {
    background-image: none;
    background-color: transparent;
    box-shadow: none; }
    header .navbar-default .navbar-nav {
      margin: 7px -15px;
      float: right; }
    header .navbar-default .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-family: header .navbar-default .navbar-nav > li > a font-main;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 14px; }
      header .navbar-default .navbar-nav > li > a:hover {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 12px; }
      header .navbar-default .navbar-nav > li > a:focus {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 12px; }
    header .navbar-default .navbar-toggle {
      border-color: transparent; }
      header .navbar-default .navbar-toggle .collapsed {
        background-color: transparent; }
      header .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff; }
    header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

/*SECTION MAIN*/
.main {
  background-image: url("../images/bg_main_01.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative; }
  .main h1 {
    font-family: .main h1 font-sub;
    font-weight: 300;
    font-size: 35px;
    color: white;
    letter-spacing: 11px;
    margin: 0 auto 44px; }
  .main p {
    color: white;
    margin: auto;
    word-spacing: 7px;
    letter-spacing: 1px; }
  .main a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #19bd9a;
    position: absolute;
    left: 50%;
    bottom: 77px;
    padding-top: 12px; }
    .main a:after {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ffffff;
      font-size: 14px;
      padding-left: 13px; }
    .main a:hover {
      animation: jump;
      animation-duration: 1s;
      animation-timing-function: linear; }

/*SECTION BOUNCY*/
.bouncy {
  background-color: white;
  padding-top: 114px;
  padding-bottom: 98px;
  align-items: center; }
  .bouncy .col-sm-5 {
    padding-left: 15px;
    margin-bottom: 30px;
    order: 1;
    margin-top: 30px; }
    .bouncy .col-sm-5 h3 {
      margin-bottom: 50px; }
    .bouncy .col-sm-5 p {
      margin-bottom: 36px;
      text-align: left; }
    .bouncy .col-sm-5 a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      border: 1px solid #000000;
      border-radius: 25px;
      padding: 10px 30px; }
  .bouncy .col-sm-3 {
    order: 2; }
    .bouncy .col-sm-3 img {
      width: 100%;
      display: block; }

/*# sourceMappingURL=style.css.map */
