@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');
@import "owl.theme.default.min.css";
@import "owl.carousel.min.css";

$font-main: 'Open Sans', sans-serif;
$font-sub: 'Source Sans Pro', sans-serif;
$main-color: #19bd9a;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@keyframes jump {
  0% {
    bottom: 77px
  }
  100% {
    bottom: 50px
  }
}

.d-flex {
  display: flex;
}

.d-wrap {
  flex-wrap: wrap;
}

p {
  font: 14px/26px $font-main;
  text-align: center;
  color: #81868e;
}

h3 {
  color: #333b46;
  font-size: 20px;
  font-family: $font-sub;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-bottom: 44px;
}

/*-----------------*/
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  margin-top: 20px;

  .navbar {
    border: none;
  }

  .navbar-default {
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    .navbar-nav {
      margin: 7px -15px;
      float: right;
    }

    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-family: & font-main;
      line-height: 14px;
      border: 1px solid transparent;
      border-radius: 25px;
      padding-bottom: 10px;
      padding-top: 10px;
      @include max-screen(767px) {
        line-height: 10px;
        padding-bottom: 5px;
        padding-top: 5px
      }

      &:hover {
        color: white;
        border: white 1px solid;


      }

      &:focus {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 10px;
      }
    }

    .navbar-toggle {
      border-color: transparent;

      .collapsed {
        background-color: transparent;
      }

      .icon-bar {
        background-color: #ffffff;
      }
    }

    .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
  }

}

/*----------------------*/
.main {
  background-image: url('../images/bg_main_01.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;


  h1 {
    font-family: & font-sub;
    font-weight: 300;
    font-size: 35px;
    color: white;
    letter-spacing: 11px;
    margin: 0 auto 44px;

  }

  p {
    color: white;
    margin: auto;
    word-spacing: 7px;
    letter-spacing: 1px;
  }

  a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #19bd9a;
    position: absolute;
    left: 50%;
    bottom: 77px;
    padding-top: 12px;
    margin-left: -20px;

    &:after {
      content: "\f078";
      font-family: "Font Awesome 5 Free";;
      font-weight: 900;
      color: #ffffff;
      font-size: 14px;
      padding-left: 14px;
    }

    &:hover {
      animation: jump;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }
}

/*--------------------*/
.bouncy {
  background-color: white;
  padding-top: 114px;
  padding-bottom: 98px;
  align-items: center;

  .col-sm-5 {
    padding-left: 15px;
    margin-bottom: 30px;
    order: 1;
    margin-top: 30px;

    h3 {
      margin-bottom: 50px;
    }

    p {
      margin-bottom: 36px;
      text-align: left;
    }

    #more {
      display: none;
    }

    button {
      background-color: transparent;
      color: #000000;
      font-size: 16px;
      font-family: $font-main;
      border: 1px solid #000000;
      border-radius: 25px;
      padding: 10px 30px;
      outline: none;
      @include max-screen(767px) {
        text-align: center;
      }

      &:hover {
        background-color: $main-color;
        color: #ffffff;
        border: none;
      }


    }
  }

  .col-sm-3 {

    order: 2;

    img {
      width: 100%;
      display: block;
    }

  }

  /*не работает--*/
  @include max-screen(992px) {
    .col-sm-3 {
      order: 1;
    }
    .col-sm-5 {
      order: 2;
    }
  }
}

/*------------------*/
.details {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px;

  .col-sm-6 {
    p {
      color: #81868e;
      margin-bottom: 66px;
    }

    /*--------Tabs------------------*/
    .tab {
      overflow: hidden;
      border: none;
      background-color: transparent;
    }

    .tab button {
      display: inline-block;
      width: 56px;
      height: 56px;
      background-color: #81868e;
      border: 1px solid #81868e;
      border-radius: 50%;
      margin: 0 12px 66px;
      padding-top: 0px;
      text-decoration: none;
      outline: none;

      &:before {
        content: "\f004";
        font-family: "Font Awesome 5 Free";
        font-weight: 400;
        color: #ffffff;
        font-size: 24px;
        display: block;
      }

      &:hover {
        background-color: #19bd9a;
        border: 1px solid $main-color;
      }

      &.active {
        background-color: #19bd9a;
        border: 1px solid $main-color;
      }


      &:nth-of-type(2) {
        &:before {
          content: "\f8cc";
          font-weight: 900;
        }
      }


      &:nth-of-type(3) {
        &:before {
          content: "\f0eb";
          font-weight: 400;
        }
      }
    }

  }

}


.tabcontent {
  text-align: left;
  /*display: flex;
  align-items: flex-end;*/


  h4 {
    font-family: $font-main;
    font-size: 20px;
    margin-bottom: 44px;
  }

  p {
    text-align: left
  }

  .col-sm-4 {
    p {
      line-height: 19px;
    }
  }

  .col-sm-7 {
    margin-top: 70px;

    p {
      font-size: 14px;
      line-height: 17px;
    }
  }

}

/*------------------*/
.projects {
  background-color: #ffffff;
  padding-top: 80px;


  p {
    color: #81868e;
    margin-bottom: 66px;
  }

  .row {
    flex-wrap: wrap;

    .col-sm-6.item, .col-sm-3.item {
      padding-right: 0;
      padding-left: 0;
      height: 320px;
      position: relative;

      h3 {
        position: absolute;
        color: #ffffff;
        visibility: hidden;
        top: 40%;
        left: 25%;
        z-index: 3;
      }

      &:nth-of-type(2) {
        left: 0;
      }

      @include max-screen(1024px) {
        h3 {
          left: 20%;
        }
      }
      @include max-screen(992px) {
        h3 {
          left: 30%;
        }
      }

      @include max-screen(767px) {
        h3 {
          left: 25%;
        }
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
      }

      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }

      &:hover {
        &:after {
          background-color: rgba(22, 22, 22, 0.81);
        }

        h3 {
          visibility: visible;

        }
      }
    }

    @include max-screen(992px) {
      .col-sm-6 {
        width: 100%;
      }
      .col-sm-3 {
        width: 50%;
      }

    }

    @include max-screen(767px) {
      .col-sm-3 {
        width: 100%;
      }
    }


  }

  .brend {
    background-image: url('../images/proj_4_02.png');
    background-size: cover;
    padding: 50px 15px;

    p {
      color: #ffffff;
      margin-bottom: 10px;

      span {
        font-weight: 700;
      }
    }

    a {
      display: inline-block;
      color: #ffffff;
      padding: 12px 20px 10px;
      border: 1px solid #ffffff;
      border-radius: 25px;
      margin-left: 0;
      text-decoration: none;

      &:hover {
        background-color: #ffffff;
        color: $main-color;
      }

    }
  }
}

/*--------------------------------------------------------------*/
.services {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 135px;

  p {
    margin-bottom: 66px;
  }

  .col-sm-6 {

    .col-sm-2 {
      .tab {

        border: none;
        background-color: transparent;
      }

      .tab button {
        display: inline-block;
        width: 54px;
        height: 54px;
        background-color: #81868e;
        border: 1px solid #81868e;
        border-radius: 50%;
        margin: 0 12px 18px;
        padding-top: 0px;
        text-decoration: none;
        outline: none;

        &:hover {
          background-color: #19bd9a;
          border: 1px solid $main-color;
        }

        &:hover.active {
          background-color: #19bd9a;
          border: 1px solid $main-color;
        }
      }

      @include max-screen(365px) {
        .tab button {
          width: 44px;
          height: 44px;
        }
      }

    }

    .tabcontent1 {
      .col-sm-9.col-xs-9 {
        h4 {
          font-family: $font-main;
          font-size: 20px;
          color: #464646;
          margin-bottom: 40px;
        }

        p {
          text-align: left;
          margin-bottom: 40px;

          span {
            color: #19bd9a;
            font-weight: 600;
          }

        }
      }
    }
  }

  /*круговой прогресс-бар--*/
  .col-sm-6 {
    .bg-style {
      display: flex;
      flex-direction: row;
      margin-top: 60px;

      .item {
        text-align: center;
        margin-bottom: 40px;

        span {
          font-size: 16px;
          color: #81868e;
          display: block;
        }
      }
    }

    @include max-screen(365px) {
      .bg-style {
        flex-direction: column;

        .item {
          width: 100%;

          span {
            margin-top: 15px;
            font-size: 16px;
            color: #81868e;
            display: block;
          }
        }
      }
    }

    .counter {
      display: inline-flex;
      cursor: pointer;
      width: 125px;
      height: 125px;
      max-width: 100%;
      position: relative;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: 500;
      transition: height .2s ease-in-out;
      background: #f3f3f3;
      border-radius: 50%;
      margin-bottom: 24px;
    }

    @include max-screen(1024px) {
      .counter {
        width: 100px;
        height: 100px;
      }
    }

    .percentage {
      position: absolute;
      text-align: center;
      top: 50%;
      left: 0;
      right: 0;
      vertical-align: middle;
      transform: translate3d(0, -50%, 0);
    }

    canvas {
      position: absolute;
      top: 0;
      height: 125px !important;
      width: 125px !important;
    }

    body {
      text-align: center;
    }


  }
}

/*-------------------------------------------------------------*/
.impressed {
  background-image: url('../images/impression_bg_02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative;

  .col-sm-6 {
    h3 {
      color: #ffffff;
      margin-bottom: 50px;
    }

    p {
      color: #b2b3b3;
      font-family: $font-main;
      text-align: left;

      span {
        color: #19bd9a;
      }

    }
  }

  .col-sm-4 {
    .monitor {
      max-width: 410px;
      position: absolute;
      top: -130px;
      right: -100px;

      img {
        width: 100%;
        display: block;
      }
    }

    @include max-screen(1024px) {
      .monitor {
        max-width: 410px;

        right: -40px;
      }
    }
    @include max-screen(767px) {
      .monitor {
        max-width: 410px;
        position: relative;
        top: 0;
        right: 0;
      }
    }

  }
}

/*-------------------------------------------------------*/
.portfolio {
  padding: 80px 15px 100px;
  background-color: #f3f3f3;

  p {
    margin-bottom: 86px;
  }

  .nav-tabs {
    margin-bottom: 75px;
  }

  .nav-tabs.nav-justified > li {
    a {
      border-bottom: none;
      border-radius: 0;
      color: #464646;
      padding-bottom: 17px;
      font-family: $font-main;

      &:after {
        display: block;
        content: "";
        border-bottom: none;
        width: 70%;
        height: 2px;
        margin-top: 17px;
        visibility: hidden;
        margin-left: 15%;
        background-color: #19bd9a;

      }

    }
  }

  .nav-tabs > li > a {
    border: none;
    border-radius: 0;
    color: #464646;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover {
    color: #464646;
    cursor: default;
    background-color: #f3f3f3;
    border: none;
    border-bottom: none;

    &:after {
      visibility: visible;

    }
  }

  /*-Galereya------------------------------*/

  #masonry {
    column-count: 1;
    column-gap: 1em;
  }


  @media(min-width: 30em) {
    #masonry {
      column-count: 2;
      column-gap: 1em;
    }
  }

  @media(min-width: 40em) {
    #masonry {
      column-count: 4;
      column-gap: 1em;
    }
  }


  .item {
    background-color: transparent;
    display: inline-block;
    margin: 0 0 1em 0;
    width: 100%;
    cursor: pointer;
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      width: 100%;
      /*idk why but this fix stuff*/
    }

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }
  }


  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    width: 100%;
    height: 100%;
    transition: .3s ease;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 20px 35px 0 40px;
    text-align: justify;
    visibility: hidden;


    h3 {
      color: $main-color;
      font-family: $font-main;
      letter-spacing: 4px;

      &:after {
        display: block;
        content: "";
        border-bottom: none;
        width: 25px;
        height: 2px;
        margin-top: 20px;
        margin-left: 0;
        background-color: $main-color;
      }
    }

    p {
      margin-bottom: 60px;
    }

    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #000000;
      border: 1px solid #000000;
      border-radius: 50%;
      margin: 20px 12px;
      padding-top: 4px;
      padding-left: 7px;
      text-decoration: none;
      outline: none;

      &:before {
        display: block;
        content: "\f0c1";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #ffffff;
        font-size: 14px;

      }

      &:nth-of-type(2) {
        &:before {
          content: "\f004";
          font-weight: 400;
        }
      }
    }

  }

  @include max-screen(1024px) {
    .overlay {
      h3 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
      }

      a {
        margin-top: 0;
      }
    }
  }

  @include max-screen(768px) {
    .overlay {
      font-size: 14px;
      padding: 0 15px;

      h3 {
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-size: 16px;

        &:after {
          margin-top: 10px;
        }
      }

      p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
      }

      a {
        width: 25px;
        height: 25px;
        margin: 5px 7px;
        padding-top: 4px;
        padding-left: 7px;

        &:before {
          font-size: 10px;
        }
      }
    }
  }

  @include max-screen(414px) {
    .overlay {
      padding: 20px 35px 0 40px;

      h3 {
        letter-spacing: 4px;
        margin-bottom: 60px;
        font-size: 20px;

        &:after {
          margin-top: 7px;
        }
      }

      p {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 60px;
      }

      a {
        width: 30px;
        height: 30px;
        margin: 20px 12px;
        padding-top: 4px;
        padding-left: 7px;


        &:before {
          font-size: 14px;
        }
      }
    }
  }

  @include max-screen(414px) {
    .overlay {
      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 40px;
      }

      a {
        width: 30px;
        height: 30px;
        margin: 20px 12px;
        padding-top: 4px;
        padding-left: 7px;


        &:before {
          font-size: 14px;
        }
      }
    }
  }

  .overlay_small {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7); /* Black see-through */
    width: 100%;
    height: 100%;
    transition: .3s ease;
    opacity: 1;
    color: white;
    padding: 0px 35px 0 40px;
    font-size: 16px;
    text-align: justify;
    visibility: hidden;

    h3 {
      color: $main-color;
      font-family: $font-main;
      letter-spacing: 4px;
      font-size: 18px;
      margin-bottom: 20px;

      &:after {
        display: block;
        content: "";
        border-bottom: none;
        width: 25px;
        height: 2px;
        margin-top: 7px;
        margin-left: 0;
        background-color: $main-color;
      }

    }

    p {
      font-size: 12px;
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-color: #000000;
      border: 1px solid #000000;
      border-radius: 50%;
      margin: 20px 12px;
      padding-top: 4px;
      padding-left: 7px;
      text-decoration: none;
      outline: none;

      &:before {
        display: block;
        content: "\f0c1";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #ffffff;
        font-size: 14px;

      }

      &:nth-of-type(2) {
        &:before {
          content: "\f004";
          font-weight: 400;
        }
      }
    }

  }

  @include max-screen(1024px) {
    .overlay_small {
      h3 {
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-size: 16px;

        &:after {
          margin-top: 10px;
        }
      }

      p {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 10px;
      }

      a {
        margin-top: 0;
      }
    }
  }

  @include max-screen(768px) {
    .overlay_small {
      padding: 0 15px;

      h3 {
        letter-spacing: 2px;
        margin-bottom: 7px;
        font-size: 14px;

        &:after {
          margin-top: 7px;
        }
      }

      p {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 10px;
      }

      a {
        width: 25px;
        height: 25px;
        margin: 0 5px;
        padding-top: 4px;
        padding-left: 6px;

        &:before {
          font-size: 10px;
        }
      }
    }
  }

  @include max-screen(414px) {
    .overlay_small {
      padding: 20px 35px 15px 40px;

      h3 {
        letter-spacing: 4px;
        font-size: 18px;
        margin-bottom: 20px;

        &:after {
          margin-top: 7px;
        }

      }

      p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
      }

      a {
        width: 25px;
        height: 25px;
        margin: 0 5px;
        padding-top: 4px;
        padding-left: 6px;

        &:before {
          font-size: 10px;
        }
      }
    }
  }
  @include max-screen(320px) {
    .overlay_small {
      padding: 0px 15px;

      h3 {
        letter-spacing: 2px;
        font-size: 16px;
        margin-bottom: 10px;

        &:after {
          margin-top: 7px;
        }

      }

      p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px;
      }

      a {
        width: 30px;
        height: 30px;
        margin: 20px 12px;
        padding-top: 4px;
        padding-left: 7px;

        &:before {
          font-size: 14px;

        }
      }
    }
  }

  /*-------реализация через nth-------------------------

  .item {
    &:nth-of-type(3) .overlay {
      padding: 0px 35px 0 40px;
      font-size: 16px;

      h3 {
        font-size: 18px;
        margin-bottom: 20px;

        &:after {
          margin-top: 7px;

        }
      }

      p {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
  */


  .item:hover .overlay {
    visibility: visible;
    z-index: 5;
  }

  .item.active .overlay {
    visibility: hidden;
    z-index: 5;
  }

  .item:hover .overlay_small {
    visibility: visible;
    z-index: 6;
  }

  .item.active .overlay_small {
    visibility: hidden;
    z-index: 5;
  }


  .item.active {
    animation-name: active-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    position: absolute;
    z-index: 7;
  }

  .item.active:before {
    content: "+";
    transform: rotate(45deg);
    font-size: 48px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    z-index: 12;
  }

  .item.active img {
    animation-name: active-in-img;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }


  @keyframes active-in {
    0% {
      opacity: 1;
      background-color: white;
    }

    50% {
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.90);
    }

    100% {
      opacity: 1;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.90);
    }
  }

  @keyframes active-in-img {
    0% {
      opacity: 1;
      transform: translate(0%, 0%);
      top: 0;
      left: 0;
      max-width: 100%;
    }
    49% {
      opacity: 0;
      transform: translate(0%, -50%);
    }
    50% {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -100%);
    }
    100% {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 90%;
      width: auto;
      max-height: 95vh;
      opacity: 1;
    }
  }

  .progect-start {
    background-image: url('../images/pr_bg_11.jpg');
    background-repeat: no-repeat;
    padding: 55px 15px 60px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .start {
      p {
        color: #ffffff;
        margin-bottom: 30px;
      }

      a {
        color: #ffffff;
        padding: 12px 22px 10px;
        border: 1px solid #ffffff;
        border-radius: 25px;
        text-decoration: none;

        &:hover {
          background-color: #ffffff;
          color: $main-color;
        }
      }
    }
  }

}

/*----------------------------------------------------------*/
.team {
  padding-top: 80px;
  padding-bottom: 100px;

  p {
    margin-bottom: 60px;
  }

  .col-sm-4 {
    img {
      display: block;
      width: 100%;
    }
  }

  .col-sm-5 {

    .scrollbar {
      position: relative;
      float: left;
      height: 300px;
      max-width: 400px;
      overflow-y: scroll;
      margin-bottom: 25px;
      margin-top: 25px;
    }

    @include max-screen(375px) {
      .scrollbar {
        max-width: 345px;
        padding: 15px;
      }
    }
    @include max-screen(320px) {
      .scrollbar {
        max-width: 300px;
        padding: 15px;
      }
    }

    .force-overflow {
      min-height: 20px;
      margin-right: 40px;
    }


    #style-scroll::-webkit-scrollbar-track {

      border-radius: 0;
      background-color: transparent;
    }

    #style-scroll::-webkit-scrollbar {
      width: 5px;
      height: 40px !important;


    }

    #style-scroll::-webkit-scrollbar-thumb {
      position: absolute;
      border-radius: 0px;
      background-color: $main-color;
      height: 40px !important;

    }


    h5 {
      font-family: $font-main;
      font-size: 20px;
      color: #464646;

      span {
        color: #81868e;
        font-family: $font-sub;
        font-size: 14px;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 54px;
    }

    .inform {
      display: flex;
      justify-content: space-between;

      span {
        font-family: $font-sub;
        font-weight: 300;
        font-size: 16px;
        color: #81868e;
        text-transform: uppercase;
      }
    }

    .progress {
      height: 4px;
      background-color: #19bd9a;
      margin-bottom: 38px;
    }

    .progress-bar {
      background-image: none;
      background-color: #19bd9a;
    }
  }

  .owl-dots {
    text-align: center;

    .owl-dot span {
      display: inline-block;
      height: 12px;
      width: 12px;
      background-color: #ffffff;
      border: #19bd9a solid 1px;
      border-radius: 50%;
      margin: 60px 10px 0;
    }
  }

  .owl-dots .owl-dot {
    outline: none;

    &.active span {
      background-color: #19bd9a;
    }

  }
}

/*-------------------------------------------------*/
.button-contact {
  background-image: url(../images/already_bg_02.jpg);
  background-color: rgba(22, 22, 22, 1);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 15px 56px;

  h4 {
    font-family: $font-main;
    font-size: 20px;
    margin-bottom: 44px;
    color: #ffffff;
  }

  a {
    font-size: 16px;
    color: #ffffff;
    padding: 12px 22px 10px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    text-decoration: none;

    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

/*------------------------------------------------*/
.testimonials {
  padding: 80px 15px 100px;
  background-color: #f3f3f3;

  p {
    margin-bottom: 66px;
  }

  .coment {
    background-color: #ffffff;
    padding: 52px 15px 60px;

    .col-sm-2 {
      margin-bottom: 20px;

      .foto-coment {
        max-width: 130px;
      }
    }

    p {
      margin-bottom: 34px;

      span {
        color: #19bd9a;
        font-size: 16px;
        margin-bottom: 55px;
      }

      &:nth-of-type(2) {
        font-size: 14px;
        color: #464646;
      }
    }

    .owl-dots {
      text-align: center;

      .owl-dot span {
        display: inline-block;
        height: 12px;
        width: 12px;
        background-color: #ffffff;
        border: #19bd9a solid 1px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }

    .owl-dots .owl-dot {
      outline: none;

      &.active span {
        background-color: #19bd9a;
      }
    }
  }
}

/*--NEWS-----------------------------------------------------------*/
.news {
  background-image: url('../images/news_bg_02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 15px 100px;
  position: relative;

  .col-sm-5 {
    h3 {
      color: #ffffff;
    }

    p {
      color: #b2b3b3;
      margin-bottom: 100px;
    }
  }

  .col-sm-6 {
    h4 {
      color: #e1e4e9;
    }

    p {
      margin-bottom: 58px;

      &:first-of-type {
        font-family: $font-sub;
        font-size: 14px;
        margin-bottom: 60px;

        i {
          span {
            color: #19bd9a;
          }
        }
      }
    }

    #more1 {
      display: none;
    }

    #more2 {
      display: none;
    }

    #more3 {
      display: none;
    }

    a {
      color: #b2b3b3;
      font-family: $font-main;
      font-size: 16px;
      text-decoration: none;
      border: none;
      background-color: transparent;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .owl-dots {
    display: flex;
    flex-direction: column;
    width: 20px;
    position: absolute;
    top: 40%;
    right: 15px;

    .owl-dot span {
      display: inline-block;
      height: 10px;
      width: 10px;
      line-height: 5px;
      background-color: transparent;
      border: #ffffff solid 1px;
      border-radius: 50%;
      margin: 10px 0 0;
    }
  }

  .owl-dots .owl-dot {
    outline: none;

    &.active span {
      background-color: #ffffff;
    }

  }
}

/*------Price--------------------------------------------*/
.price {
  background-color: #f3f3f3;
  padding: 80px 15px 100px;

  p {
    margin-bottom: 66px;
  }

  .col-sm-4 {
    .thumbnail {
      padding: 0;
      margin-bottom: 20px;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0px;
      position: relative;
      height: 306px;

      .upper {
        width: 100%;
        height: 100%;
        visibility: visible;

        .caption {
          background-color: $main-color;
          padding: 28px 15px;
          width: 100%;
          height: 68px;

          a {
            font-family: $font-main;
            font-size: 20px;
            color: #ffffff;
            letter-spacing: 3px;
            text-decoration: none;
          }
        }

        .cost {
          padding: 70px 15px 0;
          height: 238px;


          p {
            font-size: 20px;

            &:first-of-type {
              color: $main-color;
              font-family: $font-main;
              font-size: 42px;
              font-weight: 900;
              margin-bottom: 10px;
            }
          }
        }
      }


      .overlap {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 20px;
        text-align: center;
        visibility: hidden;

        .cost {
          padding: 36px 15px;
          height: 238px;

          p {
            font-size: 14px;
            margin-bottom: 0px;
          }
        }

        .caption {
          background-color: $main-color;
          padding: 24px 15px 30px;
          width: 100%;
          height: 68px;

          a {
            font-family: $font-main;
            font-size: 16px;
            color: #ffffff;
            letter-spacing: 3px;
            text-decoration: none;

            &:after {
              display: inline-block;
              content: "\f054";
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
            }
          }
        }

      }
    }
    &:hover{
      .upper {
        visibility: hidden;
      }
      .overlap{
        visibility: visible;
      }
    }
  }
}

/*-------------------------------------------------------*/
.subscribe {
  background-image: url('../images/subscribe_bg_02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 15px 100px;

  h3 {
    color: #ffffff;
  }

  p {
    margin-bottom: 66px;
  }

  form {
    @include max-screen(767px) {
      text-align: center;
    }

    input {
      border: 1px solid #81868e;
      padding: 17px 15px 14px;
      background-color: transparent;

      @include max-screen(767px) {
        margin-bottom: 20px;
      }
    }

    button {
      background-color: $main-color;
      padding: 16px 15px 14px;
      color: #ffffff;
      border: none;
      font-family: $font-main;
      font-size: 14px;
      &:hover{
        background-color: #ffffff;
        color: #000000
      }
    }
  }
}

/*-------------------------------------------------------------*/
.contact {
  background-color: #f3f3f3;
  padding: 80px 15px 100px;

  p {
    margin-bottom: 66px;
  }

  .col-sm-4 {
    .thumbnail {
      padding: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 0px;


      .item {
        width: 100%;
        position: relative;
        z-index: 2;

        .icon {
          width: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -25px;
          margin-top: -25px;
          z-index: 1;
          visibility: hidden;
        }

        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
        }

        &:hover {
          &:after {
            background-color: rgba(22, 22, 22, 0.66);
          }

          .icon {
            visibility: visible;
            z-index: 3;
          }
        }

        img {
          display: block;
          width: 100%;
        }
      }

    }

    .caption {
      padding: 30px 15px;

      h4 {
        font-size: 16px;
        margin-bottom: 25px;
      }

      p {
        margin-bottom: 0;
      }

    }

    @include max-screen(992px) {
      &:nth-of-type(2n-1) {
        .caption {
          padding-bottom: 56px;
        }
      }
    }
    @include max-screen(767px) {
      &:nth-of-type(2n-1) {
        .caption {
          padding-bottom: 30px;
        }
      }
    }

  }


}

/*--FORMS--------------------------------------*/
.forms {
  padding: 80px 15px 100px;

  .col-sm-4 {
    input {
      padding: 16px 15px 15px;
      border: #d8dce0 1px solid;
      border-radius: 0;
      outline: none;
      margin-bottom: 30px;
    }
  }

  textarea {
    border: #d8dce0 1px solid;
    border-radius: 0;
    outline: none;
    margin-bottom: 30px;
    resize: none;
  }

  button {

    padding: 22px 15px 21px;
    background-color: $main-color;
    border: none;
    color: #ffffff;
    outline: none;
    display: flex;
    justify-content: center;
    &:hover{
      background-color: rgba(22, 22, 22, 0.5);

    }
  }
}

/*----MAP-------------------------------*/
.map {
  .googlemaps {
    width: 100%;
    height: 500px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

//*---
// -----------------------------*//
footer {
  padding: 80px 15px 90px;

  .logo-f {
    display: block;
    text-decoration: none;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 40px;
  }

  .soc {
    a {
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: #3b5998;
      text-decoration: none;
      padding-top: 5px;
      margin: 0 6px 0;

      &:before {
        content: "\f39e";
        color: #ffffff;
        font-family: "Font Awesome 5 Brands";
        font-weight: 400;
        font-size: 12px;
        display: block;
      }

      &:nth-of-type(2) {
        background-color: #26a6d1;

        &:before {
          content: "\f099";
          font-weight: 900;
        }
      }

      &:nth-of-type(3) {
        background-color: #0e76a8;

        &:before {
          content: "\f0e1";
          font-weight: 900;
        }
      }

      &:nth-of-type(4) {
        background-color: #3f729b;

        &:before {
          content: "\f16d";
          font-weight: 900;

        }
      }

      &:nth-of-type(5) {
        background-color: #86c9ef;

        &:before {
          content: "\f27d";
          font-weight: 900;
        }
      }
    }

  }

}