@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');


$font-main: 'Open Sans', sans-serif;
$font-sub: 'Source Sans Pro', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.d-flex {
  display: flex;
}

p {
  font: 16px/26px $font-main;
  text-align: center;
}

h3 {
  color: #333b46;
  font-size: 20px;
  font-family: $font-sub;
  font-weight: 300;
}

header {
  position: absolute;
  z-index: 2;
  left: 8%;

  top: 0;
  margin-top: 20px;

  .navbar {
    border: none;
  }

  .navbar-default {
    background-image: none;
    background-color: transparent;
    box-shadow: none;

    .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-family: & font-main;

      &:hover {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 12px;

      }

      &:focus {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 12px;
      }
    }

    .navbar-toggle {
      border-color: transparent;

      .collapsed {
        background-color: transparent;
      }

      .icon-bar {
        background-color: #ffffff;
      }
    }

    .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
      background-color: transparent;
    }
  }

}

.main {
  background-image: url('../images/bg_main_01.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;

  h1 {
    z-index: 2;
    font-family: & font-sub;
    font-size: 35px;
    margin-bottom: 44px;
    color: white;
    text-align: center;
  }

  p {
    color: white;
  }

  img {
    display: block;
    width: 100%;
  }
}

.bouncy {
  background-color: white;
  padding-top: 114px;
  padding-bottom: 98px;
  align-items: center;

  .col-sm-5 {
    padding-left: 15px;
    margin-bottom: 30px;
    order: 1;
    margin-top: 30px;

    h3 {
      margin-bottom: 50px;
    }

    p {
      color: #81868e;
      margin-bottom: 36px;
      text-align: left;
    }

    a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-family: $font-main;
      border: 1px solid #000000;
      border-radius: 25px;
      padding: 10px 30px;
    }
  }

  .col-sm-3 {
    max-width: 30%;
    order: 2;

    img {
      width: 100%;
      display: block;
    }

  }
}

