@charset "UTF-8";
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap");
@keyframes jump {
  0% {
    bottom: 77px; }
  100% {
    bottom: 50px; } }
.d-flex {
  display: flex; }

.d-wrap {
  flex-wrap: wrap; }

p {
  font: 14px/26px "Open Sans", sans-serif;
  text-align: center;
  color: #81868e; }

h3 {
  color: #333b46;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 12px; }

/*-----------------*/
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  margin-top: 20px; }
  header .navbar {
    border: none; }
  header .navbar-default {
    background-image: none;
    background-color: transparent;
    box-shadow: none; }
    header .navbar-default .navbar-nav {
      margin: 7px -15px;
      float: right; }
    header .navbar-default .navbar-nav > li > a {
      color: #ffffff;
      font-size: 16px;
      font-family: header .navbar-default .navbar-nav > li > a font-main;
      padding-top: 5px;
      padding-bottom: 5px;
      line-height: 14px; }
      header .navbar-default .navbar-nav > li > a:hover {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 12px; }
      header .navbar-default .navbar-nav > li > a:focus {
        color: white;
        border: white 1px solid;
        border-radius: 25px;
        padding-bottom: 12px;
        padding-top: 12px; }
    header .navbar-default .navbar-toggle {
      border-color: transparent; }
      header .navbar-default .navbar-toggle .collapsed {
        background-color: transparent; }
      header .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff; }
    header .navbar-default .navbar-toggle:focus, header .navbar-default .navbar-default .navbar-toggle:hover {
      background-color: transparent; }

/*----------------------*/
.main {
  background-image: url("../images/bg_main_01.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative; }
  .main h1 {
    font-family: .main h1 font-sub;
    font-weight: 300;
    font-size: 35px;
    color: white;
    letter-spacing: 11px;
    margin: 0 auto 44px; }
  .main p {
    color: white;
    margin: auto;
    word-spacing: 7px;
    letter-spacing: 1px; }
  .main a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #19bd9a;
    position: absolute;
    left: 50%;
    bottom: 77px;
    padding-top: 12px; }
    .main a:after {
      content: "\f078";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #ffffff;
      font-size: 14px;
      padding-left: 13px; }
    .main a:hover {
      animation: jump;
      animation-duration: 1s;
      animation-timing-function: linear; }

/*--------------------*/
.bouncy {
  background-color: white;
  padding-top: 114px;
  padding-bottom: 98px;
  align-items: center;
  /*не работает--*/ }
  .bouncy .col-sm-5 {
    padding-left: 15px;
    margin-bottom: 30px;
    order: 1;
    margin-top: 30px; }
    .bouncy .col-sm-5 h3 {
      margin-bottom: 50px; }
    .bouncy .col-sm-5 p {
      margin-bottom: 36px;
      text-align: left; }
    .bouncy .col-sm-5 a {
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      border: 1px solid #000000;
      border-radius: 25px;
      padding: 10px 30px; }
  .bouncy .col-sm-3 {
    order: 2; }
    .bouncy .col-sm-3 img {
      width: 100%;
      display: block; }
  @media screen and (max-width: 992px) {
    .bouncy .col-sm-3 {
      order: 1; }
    .bouncy .col-sm-5 {
      order: 2; } }

/*------------------*/
.details {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 100px; }
  .details .col-sm-6 h3 {
    margin-bottom: 44px; }
  .details .col-sm-6 p {
    color: #81868e;
    margin-bottom: 66px; }
  .details .col-sm-6 a {
    display: inline-block;
    width: 56px;
    height: 56px;
    background-color: #81868e;
    border-radius: 50%;
    margin: 0 12px 66px;
    padding-top: 12px;
    text-decoration: none; }
    .details .col-sm-6 a:before {
      content: "\f004";
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      color: #ffffff;
      font-size: 24px;
      display: block; }
    .details .col-sm-6 a:hover {
      background-color: #19bd9a; }
    .details .col-sm-6 a:nth-of-type(2):before {
      content: "\f8cc";
      font-weight: 900; }
    .details .col-sm-6 a:nth-of-type(3):before {
      content: "\f0eb";
      font-weight: 400; }

.col-sm-12 {
  text-align: left;
  display: flex;
  align-items: flex-end; }
  .col-sm-12 h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-bottom: 44px; }
  .col-sm-12 p {
    text-align: left; }

/*------------------*/
.projects {
  background-color: #ffffff;
  padding-top: 80px; }
  .projects h3 {
    margin-bottom: 44px; }
  .projects p {
    color: #81868e;
    margin-bottom: 66px; }
  .projects .row {
    flex-wrap: wrap; }
    .projects .row .col-sm-6.item, .projects .row .col-sm-3.item {
      padding-right: 0;
      padding-left: 0;
      height: 320px;
      position: relative; }
      .projects .row .col-sm-6.item h3, .projects .row .col-sm-3.item h3 {
        position: absolute;
        color: #ffffff;
        visibility: hidden;
        top: 40%;
        left: 28%;
        z-index: 3; }
      @media screen and (max-width: 1024px) {
        .projects .row .col-sm-6.item h3, .projects .row .col-sm-3.item h3 {
          left: 20%; } }
      @media screen and (max-width: 992px) {
        .projects .row .col-sm-6.item h3, .projects .row .col-sm-3.item h3 {
          left: 5%; } }
      @media screen and (max-width: 767px) {
        .projects .row .col-sm-6.item h3, .projects .row .col-sm-3.item h3 {
          left: 40%; } }
      .projects .row .col-sm-6.item img, .projects .row .col-sm-3.item img {
        display: block;
        width: 100%;
        height: 100%; }
      .projects .row .col-sm-6.item:after, .projects .row .col-sm-3.item:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0; }
      .projects .row .col-sm-6.item:hover:after, .projects .row .col-sm-3.item:hover:after {
        background-color: rgba(22, 22, 22, 0.81); }
      .projects .row .col-sm-6.item:hover h3, .projects .row .col-sm-3.item:hover h3 {
        visibility: visible; }
  .projects .brend {
    background-image: url("../images/proj_4_02.png");
    background-size: cover;
    padding: 50px 15px; }
    .projects .brend p {
      color: #ffffff;
      margin-bottom: 10px; }
      .projects .brend p span {
        font-weight: 700; }
    .projects .brend a {
      display: inline-block;
      color: #ffffff;
      padding: 12px 22px 10px;
      border: 1px solid #ffffff;
      border-radius: 25px;
      text-decoration: none; }

/*--------------------------------------------------------------*/
.services {
  background-color: #f3f3f3;
  padding-top: 80px;
  padding-bottom: 135px;
  /*круговой прогресс-бар--*/ }
  .services h3 {
    margin-bottom: 44px; }
  .services p {
    margin-bottom: 66px; }
  .services .col-sm-6 .col-sm-2 a {
    display: block;
    width: 53px;
    height: 53px;
    background-color: #81868e;
    border-radius: 50%;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 12px;
    margin-bottom: 18px; }
    .services .col-sm-6 .col-sm-2 a:hover {
      background-color: #19bd9a; }
  .services .col-sm-6 .col-sm-9.col-xs-9 h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #464646;
    margin-bottom: 40px; }
  .services .col-sm-6 .col-sm-9.col-xs-9 p {
    text-align: left;
    margin-bottom: 40px; }
    .services .col-sm-6 .col-sm-9.col-xs-9 p span {
      color: #19bd9a;
      font-weight: 600; }
  .services .col-sm-6 .bg-style {
    display: flex;
    flex-direction: row;
    margin-top: 60px; }
    .services .col-sm-6 .bg-style .item {
      margin-left: 20px;
      text-align: center;
      margin-bottom: 40px; }
      .services .col-sm-6 .bg-style .item span {
        font-size: 16px;
        color: #81868e;
        display: block; }
  @media screen and (max-width: 992px) {
    .services .col-sm-6 .bg-style {
      flex-wrap: wrap;
      margin-top: 0; } }
  .services .col-sm-6 .counter {
    display: inline-flex;
    cursor: pointer;
    width: 125px;
    height: 125px;
    max-width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    transition: height .2s ease-in-out;
    background: #f3f3f3;
    border-radius: 50%;
    margin-bottom: 24px; }
  @media screen and (max-width: 1024px) {
    .services .col-sm-6 .counter {
      width: 100px;
      height: 100px; } }
  .services .col-sm-6 .percentage {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    vertical-align: middle;
    transform: translate3d(0, -50%, 0); }
  .services .col-sm-6 canvas {
    position: absolute;
    top: 0;
    height: 125px !important;
    width: 125px !important; }
  .services .col-sm-6 body {
    text-align: center; }

/*-------------------------------------------------------------*/
.impressed {
  background-image: url("../images/impression_bg_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 100px;
  position: relative; }
  .impressed .col-sm-6 h3 {
    color: #ffffff;
    margin-bottom: 50px; }
  .impressed .col-sm-6 p {
    color: #b2b3b3;
    font-family: "Open Sans", sans-serif;
    text-align: left; }
    .impressed .col-sm-6 p span {
      color: #19bd9a; }
  .impressed .col-sm-4 .monitor {
    max-width: 410px;
    position: absolute;
    top: -130px;
    right: -150px; }
    .impressed .col-sm-4 .monitor img {
      width: 100%;
      display: block; }
  @media screen and (max-width: 1024px) {
    .impressed .col-sm-4 .monitor {
      max-width: 410px;
      right: -40px; } }
  @media screen and (max-width: 767px) {
    .impressed .col-sm-4 .monitor {
      max-width: 410px;
      position: relative;
      top: 0;
      right: 0; } }

/*-------------------------------------------------------*/
.portfolio {
  padding: 80px 15px 100px;
  background-color: #f3f3f3;
  /*-Galereya------------------------------*/ }
  .portfolio h3 {
    margin-bottom: 44px; }
  .portfolio p {
    margin-bottom: 86px; }
  .portfolio .nav-tabs {
    margin-bottom: 75px; }
  .portfolio .nav-tabs.nav-justified > li a {
    border-bottom: none;
    border-radius: 0;
    color: #464646;
    padding-bottom: 17px;
    font-family: "Open Sans", sans-serif; }
    .portfolio .nav-tabs.nav-justified > li a:after {
      display: block;
      content: "";
      border-bottom: none;
      width: 70%;
      height: 2px;
      margin-top: 17px;
      visibility: hidden;
      margin-left: 15%;
      background-color: #19bd9a; }
  .portfolio .nav-tabs > li > a {
    border: none;
    border-radius: 0;
    color: #464646; }
  .portfolio .nav-tabs > li.active > a, .portfolio .nav-tabs > li.active > a:focus, .portfolio .nav-tabs > li.active > a:hover, .portfolio .nav-tabs > li > a:hover {
    color: #464646;
    cursor: default;
    background-color: #f3f3f3;
    border: none;
    border-bottom: none; }
    .portfolio .nav-tabs > li.active > a:after, .portfolio .nav-tabs > li.active > a:focus:after, .portfolio .nav-tabs > li.active > a:hover:after, .portfolio .nav-tabs > li > a:hover:after {
      visibility: visible; }
  .portfolio #masonry {
    column-count: 2;
    column-gap: 1em; }
  @media (min-width: 30em) {
    .portfolio #masonry {
      column-count: 3;
      column-gap: 1em; } }
  @media (min-width: 40em) {
    .portfolio #masonry {
      column-count: 4;
      column-gap: 1em; } }
  .portfolio .item {
    background-color: transparent;
    display: inline-block;
    margin: 0 0 1em 0;
    width: 100%;
    cursor: pointer; }
  .portfolio .item img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-bottom: -4px;
    /*idk why but this fix stuff*/ }
  .portfolio .item.active {
    animation-name: active-in;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-direction: alternate; }
  .portfolio .item.active:before {
    content: "+";
    transform: rotate(45deg);
    font-size: 48px;
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    z-index: 12; }
  .portfolio .item.active img {
    animation-name: active-in-img;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-direction: alternate; }
@keyframes active-in {
  0% {
    opacity: 1;
    background-color: white; }
  50% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9); } }
@keyframes active-in-img {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
    top: 0;
    left: 0;
    max-width: 100%; }
  49% {
    opacity: 0;
    transform: translate(0%, -50%); }
  50% {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%); }
  100% {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    width: auto;
    max-height: 95vh;
    opacity: 1; } }
  .portfolio .progect-start {
    background-image: url("../images/pr_bg_11.jpg");
    background-repeat: no-repeat;
    padding: 55px 15px 60px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; }
    .portfolio .progect-start .start p {
      color: #ffffff;
      margin-bottom: 30px; }
    .portfolio .progect-start .start a {
      color: #ffffff;
      padding: 12px 22px 10px;
      border: 1px solid #ffffff;
      border-radius: 25px;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
